.navebar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    padding: 20px;
    display: flex;
    /* background-color: #111; */
 
    /* background-image: linear-gradient(0deg,transparent,rgba(104, 102, 102, 0.61),#111); */
    
    background-image: linear-gradient(0deg,transparent,rgba(12, 6, 6, 0.61),#111);
    
    
}
.logo{
    position: fixed;
    left: 20px;
    width: 90px;
   
}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}